<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Nursery</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>

<body>
    <header>
        <section>
            <div class="img-cabecalho">
                <img src="img/CryptoKitties.png" alt="">
                <h1>Meowtants</h1>
            </div>
        </section>
        <section class="title">
            <h1>Baby Nursery</h1>
        </section>
        <section>
            <%-include('menu'); %>
            </div>
        </section>
    </header>

    <main id="cards">
        <% data_record.forEach(function(data) { %>
            <div class="nursery-cards">
                <div class="nursery-card">
                    <div class="nursery-card-content">
                        <img src="images/<%= data.picture %>" alt="Baby's picture">
                    </div>

                    <div class="nursery-card-content">
                        <h3>Name: <%= data.name %> </h3>
                    </div>

                    <div class="nursery-card-content">
                        <h3>Birth: <%= data.birth %> </h3>
                    </div>

                    <div class="nursery-card-content">
                        <h3>Genes: <%= data.genes %> </h3>
                    </div>
                    <div class="nursery-card-content">
                        <a href="/change/<%= data.id %>">Change Register</a>
                        <a href="/delete/<%= data.id %>">Delete</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </main>


    <footer>

    </footer>
</body>
</html>