<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Register</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <header>
        <section>
            <div class="img-cabecalho">
                <img src="img/CryptoKitties.png" alt="">
                <h1>Meowtants</h1>
            </div>
        </section>
        <section class="title">
            <h1>Change Register</h1>
        </section>
        <section>
            <%-include('menu'); %>
            </div>
        </section>
    </header>

    <main>
        <div class="login-join-form">
            <% data_record.forEach(function(data) { %>

            <img id="img-login" src="../images/<%= data.picture %>" alt="Baby's photo">
            <form action="/change/<%= data.id %>" method="POST" enctype="multipart/form-data">

                <div class="card-content-area">
                    <label for="name">Name</label>
                    <input type="text" name="cat-name" id="cat-name" value="<%= data.name %>" >
                </div>

                <div class="card-content-area">
                    <label for="date">Birth</label>
                    <input type="date" name="birth" id="birth" value="<%= data.birth %>">
                </div>

                <div class="card-content-area">
                    <label for="genes">Genes</label>
                    <input type="text" name="genes" id="genes" value="<%= data.genes %> ">
                </div>

                <div class="card-content-area">
                    <label for="pic">Picture</label>
                    <input type="file" name="pic" id="pic">
                </div>

                <div class="card-content-area">
                    <input type="submit" class="submit-button" name="change" id="change" value="Change">
                </div>
            </form>
            <% }) %>
        </div>
   
    </main>

    <footer>

    </footer>
</body>
</html>